
STAGE=dev

DB_PASSWORD=Codeorange01
DB_NAME=SpamMusicDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=ABCDEFGH

SPOTIFY_CLIENT_ID=5441ac276fc046da98adf7ffbfdb4924
SPOTIFY_CLIENT_SECRET=29a287ad6be04285ac8c589057638228

R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key

LASTFM_API_KEY=your_lastfm_api_key

WP_API_URL=https://riffvalley.es/wp-json/wp/v2
WP_GRAPHQL_URL=https://riffvalley.es/graphql
WP_USER=your_wordpress_username
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx

MAIL_HOST=smtp.riffvalley.es
MAIL_PORT=587
MAIL_USER=contacto@riffvalley.es
MAIL_PASS=your_mail_password
MAIL_TO=contacto@riffvalley.es

TWITTER_API_KEY=your_twitter_api_key
TWITTER_API_SECRET=your_twitter_api_secret
TWITTER_ACCESS_TOKEN=your_twitter_access_token
TWITTER_ACCESS_TOKEN_SECRET=your_twitter_access_token_secret

FACEBOOK_PAGE_ID=your_facebook_page_id
FACEBOOK_PAGE_ACCESS_TOKEN=your_facebook_page_access_token

INSTAGRAM_BUSINESS_ACCOUNT_ID=your_instagram_business_account_id
INSTAGRAM_ACCESS_TOKEN=your_instagram_access_token

THREADS_USER_ID=your_threads_user_id
THREADS_ACCESS_TOKEN=your_threads_access_token

BLUESKY_IDENTIFIER=riffvalleyes.bsky.social
BLUESKY_APP_PASSWORD=your_bluesky_app_password

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=@RiffValleyES