
STAGE=dev

DB_PASSWORD=Codeorange01
DB_NAME=SpamMusicDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=ABCDEFGH

SPOTIFY_CLIENT_ID=5441ac276fc046da98adf7ffbfdb4924
SPOTIFY_CLIENT_SECRET=29a287ad6be04285ac8c589057638228

R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key

LASTFM_API_KEY=your_lastfm_api_key

WP_API_URL=https://riffvalley.es/wp-json/wp/v2
WP_USER=your_wordpress_username
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx

MAIL_HOST=smtp.riffvalley.es
MAIL_PORT=587
MAIL_USER=contacto@riffvalley.es
MAIL_PASS=your_mail_password
MAIL_TO=contacto@riffvalley.es